<a href="https://colab.research.google.com/github/AmjadaAshraf/data_science/blob/master/Copy_of_pgm1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num=int(input("enter num1:"))
if((num%2)==0):
  print("positive number");
else:
  print("negative number");

enter num1:12
positive number

In [ ]:
a=int(input("enter num1:"))
b=int(input("enter num2:"))
print("sum=")
print (a+b)

enter num1:23
enter num2:32
sum=
55

In [ ]:
rev=0
#num=1234
num=int(input("enter a number:"))
while num > 0:
  rem=num % 10
  rev=rev * 10 + rem
  num=num // 10
print("reverse=")
print (str(rev))

enter a number:1234
reverse=
4321

In [ ]:
count=0
num=int(input("enter a number"))
while num>0:
  count=count+1
  num=num//10
print("number of digits:")
print(count)

enter a number1234
number of digits:
4

In [ ]:
rev=0
num=int(input("enter a number to check palindrome:"))
n=num
flag=0
while n>0:
  rem=n%10
  rev=rev*10+rem
  n=n//10
if (num==rev) :
  flag=1
if flag==1:
  print("palindrome")
else :
  print("not palindrome")

enter a number to check palindrome:434
palindrome

In [ ]:
import math
r=int(input("enter the radius:"))
area=r*r*3.14
perimeter=2*3.14*r
print("area=",area);
print("perimeter:",perimeter)

enter the radius:3
area= 28.26
perimeter: 18.84

In [ ]:
a=int(input("enter a:"))
b=int(input("enter b:"))
c=int(input("enter c:"))
if a>b and a>c :
  print("a is biggest")
elif b>c :
  print("b is biggest")
else :
  print("c is biggest")

enter a:100
enter b:30
enter c:24
a is biggest

In [ ]:
numbers=input("enter a sequence of numbers seperated by , :")
numbersList=numbers.split(",")
print("List:")
print(numbersList)
print("Tuple:")
print(tuple(numbersList))

enter a sequence of numbers seperated by , :23,45,23,12,56,78
List:
['23', '45', '23', '12', '56', '78']
Tuple:
('23', '45', '23', '12', '56', '78')

In [ ]:
list1=["Apple","Banana","Grapes","Strawberry","Cherry"]
print("First Element:",list1[0])
print("Last element:",list1[-1])

First Element: Apple
Last element: Cherry

In [ ]:
dictionary1={
    "name":"arya",
    "subject":"maths",
   # "place":"Calicut"
}
dictionary1["place"]="calicut"
print(dictionary1)

{'name': 'arya', 'subject': 'maths', 'place': 'calicut'}

In [ ]:
dict1={
    "name":"anagha",
    "place":"nadakkavu"
}
dict2={
    "place":"calicut",
    "subject":"maths"
}
dict3=dict1.copy()
dict3.update(dict2)
print(dict3)

{'name': 'anagha', 'place': 'calicut', 'subject': 'maths'}

In [ ]:
dict1={
    "a":"1",
    "b":"2",
    "c":"3",
    "d":"4"
}
print(dict1)
print("length : ",len(dict1))

In [ ]:
dict1={"a":"Apple","b":"Banana","c":"Cherry","d":"Dog"}
print("Keys : ",dict1.keys())
print("Values : ",dict1.values())
print("Items : ",dict1.items())

In [ ]:
num=int(input("enter a number: "))
if num > 50 :
  if num < 100 :
    print("greaterthan 50 and lessthan 100")
  else :
    print("greaterthan 50 and 100")
else :
  if num > 25 :
    print("lessthan 50 and greaterthan 25")
  else :
    print("lessthan 50 and 25")

In [ ]:
start=int(input("enter start range : "))
stop=int(input("enter stop range : "))
for x in range(start,stop+1):
  print(x)

In [ ]:
for i in range(10):
  if i == 3 :
    pass;
  if i == 5 :
    continue;
  if i >= 8:
    break;
  print(i)

In [ ]:
fact=1
n=int(input(" n = "))
for i in range(1,n+1):
  fact*=i
print("Factorial of n",fact)

In [ ]:
n=int(input("enter n : "))
a=0
b=1
count=0
print(a,b)
for i in range(1,n+1):
  if count<(n-2):
    c=a+b
    print(c)
    count+=1
    a=b
    b=c
  else :
    break;

In [ ]:
text="Ayurvedic"
count=0
for x in text:
  if x=="a" or x=="A" :
    count+=1
  if x=="e" or x=="E" :
    count+=1
  if x=="i" or x=="I" :
    count+=1
  if x=="o" or x=="O" :
    count+=1
  if x=="u" or x=="U" :
    count+=1
print("Number of vowels : ",count)

In [ ]:
def student(rollno,name,course):
  print("Rollno : ",rollno)
  print("Name : ",name)
  print("Course : ",course)
r=input("enter roll no:")
n=input("enter name:")
c=input("enter course:")
student(r,n,c)

In [ ]:
n=int(input("N = "))
square=lambda n:n*n
print("Square : ",square(n))

In [ ]:
def operations(a,b):
  print("Addition : ",(a+b))
  print("Subtraction : ",(a-b))
  print("Multiplication : ",(a*b))
  print("Division : ",(a/b))
  print("Quotient : ",(a%b))
num1=int(input("Number 1: "))
num2=int(input("Number 2 : "))
operations(num1,num2)

In [ ]:
num=int(input("enter n : "))
def factorial(n):
  if n==0 :
    return 0;
  if n==1:
    return 1; 
  if n>1:
    return (n*factorial(n-1))
fact=factorial(num)
print("Factorial of given number : ",fact)

enter n : 20
Factorial of given number :  2432902008176640000