<a href="https://colab.research.google.com/github/AmjadaAshraf/data_science/blob/master/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as p
s1=p.Series([1,2,3,4,5])
print(s1)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
df={'fruit':["apple",'banana','orange'],'vegitables':['chilly','tomato','potato']}
vals=p.DataFrame(df)
print(vals)

    fruit vegitables
0   apple     chilly
1  banana     tomato
2  orange     potato

In [ ]:
print("multiplication table of 2")
a=[i for i in range(0,11)]
ns=p.Series(a)
muls=ns.multiply(other=2)
print(muls)

print("multiplication table of 3")
ns=p.Series(a)
muls=ns.multiply(other=3)
print(muls)

multiplication table of 2
0      0
1      2
2      4
3      6
4      8
5     10
6     12
7     14
8     16
9     18
10    20
dtype: int64
multiplication table of 3
0      0
1      3
2      6
3      9
4     12
5     15
6     18
7     21
8     24
9     27
10    30
dtype: int64

In [ ]:
mydf={
    'Stud_name':['arya','anagha','basil','adil','anjana'],
    'persantage':[90,77,65,88,99],
    'grade':['A','C','D','B','A']
}
df=p.DataFrame(mydf)
print(df)
print(df.loc[4])

  Stud_name  persantage grade
0      arya          90     A
1    anagha          77     C
2     basil          65     D
3      adil          88     B
4    anjana          99     A
Stud_name     anjana
persantage        99
grade              A
Name: 4, dtype: object

In [ ]:
print(p.__version__)

1.1.5

In [ ]:
df1=p.DataFrame({'A':[1,2,3,4],
     'B':[5,6,7,8],
     'C':[9,10,11,12],
     'D':[13,14,15,16]})
print(df1)

   A  B   C   D
0  1  5   9  13
1  2  6  10  14
2  3  7  11  15
3  4  8  12  16

In [ ]:
df2={'course name':['mca','mtech','msc','bsc','bca','btech']}
df3=p.DataFrame(df2,index=['co1','co2','co3','co4','co5','co6'])
print(df3)

    course name
co1         mca
co2       mtech
co3         msc
co4         bsc
co5         bca
co6       btech

In [ ]:
import pandas as p
d=p.read_csv('data1.csv')
print(d)

ParserError: ignored