<a href="https://colab.research.google.com/github/AmjadaAshraf/data_science/blob/master/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pds
import numpy as np
print(pds.__version__)

1.3.5

In [2]:
import pandas as pds
s=pds.Series([2,3,7,8])
print(s)

import pandas as pds
df=pds.DataFrame({'A':[1,2,3,4],'B':[4,5,6,7],'C':[8,9,10,11]})
print(df)

0    2
1    3
2    7
3    8
dtype: int64
   A  B   C
0  1  4   8
1  2  5   9
2  3  6  10
3  4  7  11

In [3]:
import pandas as pds
data={
    "potato":[12,11,16,17],
    "tomato":[13,16,19,20]
}
df= pds.DataFrame(data, index = ['week1','week2','week3','week4'])
print(df)

       potato  tomato
week1      12      13
week2      11      16
week3      16      19
week4      17      20

In [4]:
import pandas as pds
data={
    "course name":["MCA","MTECH","BTECH","ECE"]
}
df= pds.DataFrame(data, index = ['course1','course2','course3','course4'])
print(df)

        course name
course1         MCA
course2       MTECH
course3       BTECH
course4         ECE

In [5]:
import pandas as pds
s=pds.Series(["anila","anju"])
print(s)

0    anila
1     anju
dtype: object

In [7]:
import pandas as pd
print("mul table of 2")
a=[i for i in range(0,11)]
ns=pd.Series(a)
mul=ns.multiply(other=2)
print(mul)
import pandas as pd
print("mul table of 3")
a=[i for i in range(0,11)]
ns=pd.Series(a)
mul=ns.multiply(other=3)
print(mul)

mul table of 2
0      0
1      2
2      4
3      6
4      8
5     10
6     12
7     14
8     16
9     18
10    20
dtype: int64
mul table of 3
0      0
1      3
2      6
3      9
4     12
5     15
6     18
7     21
8     24
9     27
10    30
dtype: int64

In [8]:
import pandas as pd
data={
    'Studname':["anu","vinu","basu"],
    'Grade':["A","B","C"],
    'Percentage':[90,78,90]
}
py=pd.DataFrame(data)
print(py)

  Studname Grade  Percentage
0      anu     A          90
1     vinu     B          78
2     basu     C          90

In [9]:
import pandas as pd
data={
    'Studname':["anu","vinu","basu"],
    'Grade':["A","B","C"],
    'Percentage':[90,78,90]
}
py=pd.DataFrame(data)
print(py)

  Studname Grade  Percentage
0      anu     A          90
1     vinu     B          78
2     basu     C          90